<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="JuegoWSPortBinding" />
        <binding name="SubforoWSPortBinding" />
        <binding name="ProductoAdquiridoWSPortBinding" />
        <binding name="LogroDesbloqueadoWSPortBinding" />
        <binding name="ProveedorWSPortBinding" />
        <binding name="TipoMonedaWSPortBinding" />
        <binding name="ForoWSPortBinding" />
        <binding name="GestorSancionesWSPortBinding" />
        <binding name="RelacionWSPortBinding" />
        <binding name="BibliotecaWSPortBinding" />
        <binding name="BandaSonoraWSPortBinding" />
        <binding name="CarteraWSPortBinding" />
        <binding name="LogroWSPortBinding" />
        <binding name="ProductoWSPortBinding" />
        <binding name="NotificacionWSPortBinding" />
        <binding name="ColeccionWSPortBinding" />
        <binding name="MensajeWSPortBinding" />
        <binding name="ProductoEtiquetaWSPortBinding" />
        <binding name="UsuarioWSPortBinding" />
        <binding name="PaisWSPortBinding" />
        <binding name="MovimientoWSPortBinding" />
        <binding name="HiloWSPortBinding" />
        <binding name="ProductoAdquiridoColeccionWSPortBinding" />
        <binding name="EtiquetaWSPortBinding" />
        <binding name="SoftwareWSPortBinding" />
        <binding name="ForoUsuarioWSPortBinding" />
        <binding name="ReportesWSPortBinding" receiveTimeout="00:1:00" sendTimeout="00:1:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SteamWS/ProductoAdquiridoColeccionWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoAdquiridoColeccionWSPortBinding"
        contract="SteamServiceWS.ProductoAdquiridoColeccionWS" name="ProductoAdquiridoColeccionWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/JuegoWS" binding="basicHttpBinding"
        bindingConfiguration="JuegoWSPortBinding" contract="SteamServiceWS.JuegoWS"
        name="JuegoWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/SubforoWS" binding="basicHttpBinding"
        bindingConfiguration="SubforoWSPortBinding" contract="SteamServiceWS.SubforoWS"
        name="SubforoWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/ProductoAdquiridoWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoAdquiridoWSPortBinding"
        contract="SteamServiceWS.ProductoAdquiridoWS" name="ProductoAdquiridoWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/LogroDesbloqueadoWS"
        binding="basicHttpBinding" bindingConfiguration="LogroDesbloqueadoWSPortBinding"
        contract="SteamServiceWS.LogroDesbloqueadoWS" name="LogroDesbloqueadoWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/ProveedorWS"
        binding="basicHttpBinding" bindingConfiguration="ProveedorWSPortBinding"
        contract="SteamServiceWS.ProveedorWS" name="ProveedorWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/TipoMonedaWS"
        binding="basicHttpBinding" bindingConfiguration="TipoMonedaWSPortBinding"
        contract="SteamServiceWS.TipoMonedaWS" name="TipoMonedaWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/ForoWS" binding="basicHttpBinding"
        bindingConfiguration="ForoWSPortBinding" contract="SteamServiceWS.ForoWS"
        name="ForoWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/GestorSancionesWS"
        binding="basicHttpBinding" bindingConfiguration="GestorSancionesWSPortBinding"
        contract="SteamServiceWS.GestorSancionesWS" name="GestorSancionesWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/RelacionWS"
        binding="basicHttpBinding" bindingConfiguration="RelacionWSPortBinding"
        contract="SteamServiceWS.RelacionWS" name="RelacionWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/BibliotecaWS"
        binding="basicHttpBinding" bindingConfiguration="BibliotecaWSPortBinding"
        contract="SteamServiceWS.BibliotecaWS" name="BibliotecaWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/BandaSonoraWS"
        binding="basicHttpBinding" bindingConfiguration="BandaSonoraWSPortBinding"
        contract="SteamServiceWS.BandaSonoraWS" name="BandaSonoraWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/CarteraWS" binding="basicHttpBinding"
        bindingConfiguration="CarteraWSPortBinding" contract="SteamServiceWS.CarteraWS"
        name="CarteraWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/LogroWS" binding="basicHttpBinding"
        bindingConfiguration="LogroWSPortBinding" contract="SteamServiceWS.LogroWS"
        name="LogroWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/ProductoWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding"
        contract="SteamServiceWS.ProductoWS" name="ProductoWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/NotificacionWS"
        binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding"
        contract="SteamServiceWS.NotificacionWS" name="NotificacionWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/ColeccionWS"
        binding="basicHttpBinding" bindingConfiguration="ColeccionWSPortBinding"
        contract="SteamServiceWS.ColeccionWS" name="ColeccionWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/MensajeWS" binding="basicHttpBinding"
        bindingConfiguration="MensajeWSPortBinding" contract="SteamServiceWS.MensajeWS"
        name="MensajeWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/ProductoEtiquetaWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoEtiquetaWSPortBinding"
        contract="SteamServiceWS.ProductoEtiquetaWS" name="ProductoEtiquetaWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/UsuarioWS" binding="basicHttpBinding"
        bindingConfiguration="UsuarioWSPortBinding" contract="SteamServiceWS.UsuarioWS"
        name="UsuarioWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/PaisWS" binding="basicHttpBinding"
        bindingConfiguration="PaisWSPortBinding" contract="SteamServiceWS.PaisWS"
        name="PaisWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/MovimientoWS"
        binding="basicHttpBinding" bindingConfiguration="MovimientoWSPortBinding"
        contract="SteamServiceWS.MovimientoWS" name="MovimientoWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/HiloWS" binding="basicHttpBinding"
        bindingConfiguration="HiloWSPortBinding" contract="SteamServiceWS.HiloWS"
        name="HiloWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/EtiquetaWS"
        binding="basicHttpBinding" bindingConfiguration="EtiquetaWSPortBinding"
        contract="SteamServiceWS.EtiquetaWS" name="EtiquetaWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/SoftwareWS"
        binding="basicHttpBinding" bindingConfiguration="SoftwareWSPortBinding"
        contract="SteamServiceWS.SoftwareWS" name="SoftwareWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/ReportesWS"
        binding="basicHttpBinding" bindingConfiguration="ReportesWSPortBinding"
        contract="SteamServiceWS.ReportesWS" name="ReportesWSPort" />
      <endpoint address="http://localhost:8080/SteamWS/ForoUsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="ForoUsuarioWSPortBinding"
        contract="SteamServiceWS.ForoUsuarioWS" name="ForoUsuarioWSPort" />
    </client>
  </system.serviceModel>
</configuration>