/* Colores personalizados */
.text-gray {
    color: #dfe2e6; /* Gris claro */
}

.bg-navy {
    background-color: #24282f; /* Azul marino */
}

.bg-navy-50 {
    background-color: #3e4e69; /* Azul marino claro */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    overflow-y: auto;
    width: 150px;
}

.content {
    margin-left: 150px;
}
